* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.heder {
    margin: 0 auto;
    width: 1600px;
}

.head {
    background-color: #1F8AFF;
    width: 1600px;
    margin: 0 auto;
    height: 110px;
    overflow-x: visible;
    overflow-y: visible;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #1F8AFF;
}

.header-head {
    background-color: #1F8AFF;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.header-head-link-title {
    color: #fff;
    font-size: 16px;
}

.header-head-link-title:hover {
    color: #FECE02;
}

.header-head-language {
    display: flex;
    justify-content: end;
    width: 1200px;
    padding: 5px;
    border-bottom: 2px solid #047af0;
}

.header-head-first {
    width: 1200px;
    overflow:visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-head-one {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-head-link {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 180px;
}

.header-head-link:hover {
    color: #FECE02;
}

.header-head-link-div {
    display: flex;
    font-size: 16px;
    align-items: center;
}

.p {
    font-size: 16px;
    margin-left: 4px;
}

.h2 {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
}

.h2:hover {
    color: #FECE02;
}

.jasorat {
    width: 1600px;
    background-image: url(./img/Rectangle\ 1.png);
    background-size: auto 1600;
}

.jasorat-title-text {
    width: 700px;
    font-size: 54px;
    color: #fff;
    border-left: 2px solid #FECE02;
    padding-left: 20px;
}

.jasorat-title {
    padding: 160px 0px;
}
